@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: :rgb(255,255,255);
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ================================================================================================ */
header .wrapper{
  display: flex;
  background-color:rgb(255,255,255);
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  padding: 0px 10px;
  color: rgb(148,148,148);
  font-size: 12px;
}

nav ul{list-style: none;}
header .wrapper h1{flex-grow: 0.25;}
header .wrapper i{color: rgb(148,148,148);}

.banner .wrapper{
  width: 100%;
  height: 575px;
  position: relative;
  border: 1px solid black;
}

.heading_frame{
  width: 39%;
  height: 360px;
  background: rgb(111,179,224);
  position: absolute;
  top: 56px;
  left: 8.5%;
  text-align: center;
  justify-content: center;
}

.heading_frame h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-family: 'Hind', sans-serif;
  font-weight: 800;
  color: rgb(246,255,247);
}

.about_frame{
  width: 53%;
  height: 360px;
  background: rgb(94,160,222);
  position: absolute;
  top: 120px;
  left: 39.5%;
  text-align: center;
  align-items: center;
  color: rgb(246,255,247);
}

.about_frame p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summit_booking{
  width: 100%;
  height: 415px;
}

.summit_info{
  width: 50%;
  height: 415px;
  float: left;
  background-color: rgb(95,172,214);
}

.summit_info h3{
  box-sizing: border-box;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: rgb(246,255,247);
}

.summit_info p{
  box-sizing: border-box;
  font-size: 15px;
  padding: 0px 10% 60px 10%;
  color: rgb(246,255,247);
  text-align: center;
  opacity: 1.5;
}

.summit_info a{
  text-decoration: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0.514);
  width: 23%;
  height: 50px;
  font-size: 12px;
  text-align: center;
  line-height: 50px;
}

#READ{
  margin-left:25% ;
  background-color: rgb(255,255,255);
  color: rgb(59,59,59);
}

#BOOK{
  background-color: rgb(255,228,0);
  color: rgb(59,59,59);
}

.summit_info ul li{
  width: 50%;
  height: 70px;
  float: left;
  position: relative;
  top: 43px;
  border: 1px solid black;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; 
}

.summit_info ul li i{
  width: 25%;
  text-align: center;
  height: 68px;
  display: inline-block;
  border: 1px solid black;
  line-height: 65px;
}

.summit_booking .wrapper img{
  width: 50%;
  height:  415px;
}

.featured_article .wrapper > h2{
  text-align: center;
  height: 218px;
  line-height: 218px;
  font-size: 20px;
  font-family: 'Hind', sans-serif;
  font-weight: 900;
  letter-spacing: 10px;
  color: rgb(164,164,164);
}

.featured_article{height: 777px;}

.article_list{
  height: 560px;
  width: 40%;
  float: left;
  overflow-y: scroll;
  position: relative;
}
.article_list::before{
  content: '';
  position: absolute;
  left: 30%;
  width: 2px;
  height: 100%;
  background-color: rgb(164,164,164);

}

.article_list ul li{
  border: 1px solid rgb(223,223,223);
  box-sizing: border-box;
  width: 56%;
  margin-left: 39%;
  margin-top: 8px;
  margin-right: 8px;
  padding: 10px;
  list-style: none;
  height: 70px;
}

.article_list ul li::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: lightcoral;
  border-radius: 50%;
  left: 153px;
}

.article_list ul li h3{
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  font-weight: 900;
  padding-bottom: 12px; 
  color: rgb(58,66,68);
}

.article_details{
  position: relative;
  width: 41%;
  height: 380px;
  background-color: rgb(220,228,230);
  float: left;
  margin-left: 64px;
  margin-top: 8px;
  padding: 40px;
}

.article_details h3{
  position: absolute;
  top: 10%;
  right: 10%;
}

.article_details h2{
  position: absolute;
  top: 10%;
  left: 10%;
}

.article_details p{
  position: absolute;
  top: 40%;
  text-align: left;
  margin-right: 40px;
  line-height: 30px;
  color: rgb(79,87,89);
}


.article_details a{
  border: 1px solid rgb(184,180,135);
  text-align: center;
}

#Ecomomist_unit{
  position: absolute;
  bottom: 15%;
  left: 8%;
  text-decoration: none;
  width: 42%;
  height: 28px;
  line-height: 28px;
  background: inherit;
  color: rgb(79,87,89);
}

.article_details i{
  float: left;
  line-height:28px;
  width: 32px;
  background-color: rgb(184,180,135);
}

#Read_More{
  position: absolute;
  bottom: 10%;
  right: 8%;
  text-decoration: none;
  width: 28%;
  height: 50px;
  line-height: 50px;
  background-color: rgb(255,255,255);
  border: none;
  color: rgb(79,87,89);
}

.infographics .wrapper > h2{
  width: 100%;
  height: 218px;
  line-height: 218px;
  font-size: 20px;
  font-family: 'Hind', sans-serif;
  font-weight: 900;
  letter-spacing: 10px;
  color: rgb(164,164,164);
}

footer .wrapper{
  width: 100%;
  height: 115px;
  background-color: rgb(46,46,46);
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

footer .wrapper ul{
  display: flex;
  list-style: none;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 20%;
  top: 50%;
}

footer .wrapper ul li{
  margin-left: 20px;
  font-size: 25px;
  color: rgb(124,124,124);
}

.contact_us{
  position: absolute;
  right: 10px;
  height: 50px;
  text-align: center;
  width: 180px;
  line-height: 50px;
  transform: translate(-50%, -50%);
  top: 50%;
  background-color: rgb(122,122,122);
  color: rgb(237,237,237);
  text-decoration: none;
}

footer .wrapper h3{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 8%;
  top: 50%;
  color: rgb(124,124,124);
  font-size: 17px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
}

.newsletter .wrapper{
  width: 100%;
  height: 207px;
  background-color: rgb(95,178,222);
  align-items: center;
  justify-content: center;
  position: relative;
}

input[type="email"] {
  width: 50%;
  padding: 5px;
  height: 62px;
}

input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
  width: 5%;
}

.subcribe{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 500px;
  height: 65px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
} 

.infographics .wrapper{
  height: 752px;
  width: 100%;
  /* overflow-x: scroll; */
}

.infographics .wrapper ul li{
  display: inline-block;
  position: relative;
  height: 760px;
  width: 475px;
  margin-left: 10px;
}

.newsletter .wrapper h3{
  position: absolute;
  top: 20%;
  left: 40%;
  text-align: center;
}

.infographics .wrapper ul img{
  position: absolute;
  z-index: -1;
}
.infographics .wrapper ul li div{
  width: 357px;
  height: 282px;
  border: 1px solid black;
  position: absolute;
  top: 200px;
  left: 60px;
  background-color: rgb(232,239,245);
  opacity: 0.5;
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
}
